.report-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Image styling */
  .report-card img {
    border-radius: 2%;
    margin-bottom: 2rem;
  }
  
  /* Title and text styling */
  .report-card h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  
  .report-card h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
    color: #666;
  }
  
  .report-card .text-container {
    text-align: center;
  }